@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

body {
  min-height: 100vh;
  margin: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2b2d42+0,000000+100 */
  background: #29282a;
}

.hero {
  height: 100vh;
  padding-top: 300px;
  box-sizing: border-box;
}

.hero .triangle {
  height: 100vh;
  width: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  z-index: -100;
}

.hero-embroidery {
  animation: transitionIn 1.5s;
}

h1 {
  color: white;
  font-family: Lato;
  font-size: 55px;
  font-style: 700;
  margin-left: 20%;
  letter-spacing: 2px;
}

.title {
  text-align: center;
  padding: 100px 50px 50px 50px;
}

.title a {
  display: inline-block;
  color: white;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

p {
  color: white;
  font-family: Lato;
  font-style: regular;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 0px;
  letter-spacing: 2px;
}

.btn {
  position: relative;
  padding: 15px 20px;
  background: #1f1e20;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: blue;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 4px;
}

nav ul {
  list-style-type: none;
  display: none; /*this is fucking this part*/
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  color: white;
  font-family: Lato;
  text-decoration: none;
  padding: 1.5em 3em;
}

nav {
  width: 240px;
  background-color: #2b2d42;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -240px;
  z-index: 1000;
}

.aboutMe {
  display: flex;
  margin: 50px auto;
  width: 50%;
  padding: 8px;
}

.aboutMe img {
  width: 450px;
  height: 410px;
  padding: 0 10px 0 0;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: -16px -16px 0px 0px #f8f32b;
}

.aboutMe img:hover {
  transform: scale(0.9, 0.9);
}

.textAbout {
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 25px;
  margin-top: 25px;
  margin-left: 35px;
}

/* nao esta a fazer nada
.contactInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
} */

.align-horizontal .wrapper a.work-titles {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: lato;
  font-weight: regular;
  color: white;
}

.align-horizontal .wrapper span {
  opacity: 0;
  transition: 0.5s;
  font-size: 45px;
}

.align-horizontal .wrapper span:hover {
  opacity: 1;
  font-size: 46px;
}

.align-horizontal .wrapper .square {
  opacity: 1;
}

/*.align-horizontal .wrapper .square:hover {
  filter: blur(1px);
} */

/*.contactInfo ul li {
  list-style-type: none;
}

.contactInfo ul li a {
  color: white;
  font-family: Lato;
  text-decoration: none;
  font-size: 20px;
  text-indent: 30em;
  padding: 20px;
}

.contactItem img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contactItem {
  font-family: Lato;
  font-weight: regular;
  color: white;
  font-size: 20px;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.contactInfo ul li a:hover {
  color: #f8f32b;
  text-shadow: 0 0 2px #fbf874;
  text-shadow: 0 0 4px #fbf874;
  text-shadow: 0 0 8px #fbf874;
}
*/

.social-networks ul {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}

.social-networks ul li {
  list-style: none;
  margin: 0 15px;
}

.social-networks ul li .ins {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: #000;
}

.social-networks ul li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.square {
  background-color: #1f1e20;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -15px -15px 0px 0px #f8f32b;
  box-shadow: -15px -15px 0px 0px #f8f32b;
  display: block;
}

.square:hover {
  background-color: #1f1e20;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -15px -15px 0px 0px #475;
  box-shadow: -15px -15px 0px 0px #475;
  display: block;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  grid-auto-rows: minmax(15vw, auto);
  column-gap: 65px;
  row-gap: 65px;
  align-items: center;
  justify-items: center;
}

.align-horizontal {
  display: flex;
  justify-content: center;
}

/*animaçao da linha debaixo dos titulos*/
.hover::after {
  content: " ";
  display: block;
  width: 0;
  height: 3px;
  background: white;
  transition: width 0.3s;
  border-radius: 5px;
}

.hover:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.alignment {
  margin: 0px auto;
}

/* #toggleMenu {
  width: 30px;
  height: 30px;
  background-color: #2b2d42;
  background-image: url(menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1050;
  cursor: pointer;
  border: 20px solid #2b2d42;
  border-radius: 2px;
  transition: all ease-in-out 200ms;
  -webkit-transition: all ease-in-out 200ms;   
}

/* #toggleMenu:hover {
  opacity: 0.7;
}  */

.navBar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #141415;
  opacity: 0.85;
  width: 100%;
  height: 60px; /*se eu meter aqui 70 fica tudo centrado, mas quero mais pequeno */
  z-index: 2000;
}

.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 10%;
}

.logo {
  /*R aka "logo" */
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  font-family: Lato;
  color: #f8f32b;
  font-weight: bold;
  font-size: 35px;
  text-decoration: none;
}

.nav li a {
  margin: 15px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: regular;
}

.nav li a:hover {
  color: #f8f32b;
}

.area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}

.text-part {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.collection {
  text-align: left;
  font-size: 30px;
  font-family: Lato;
  font-weight: regular;
  color: white;
  margin-left: 10%;
}

.container-gallery {
  width: 100%;
  box-sizing: border-box;
  max-width: 120rem;
  margin: auto;
  padding: 0 3rem;
}

.image-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "img-1 img-2 img-3 img-3"
    "img-1 img-4 img-5 img-6";
}

.image-gallery a {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

/* .image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba (0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a:hover::before {
  opacity: 1;
} */

.img-1 {
  grid-area: img-1;
  background-image: url(bird.jpg);
  min-height: 31rem; /* colocar isto para imagens na vertical */
}

.img-2 {
  grid-area: img-2;
  background-image: url(bird.jpg);
}

.img-3 {
  grid-area: img-3;
  background-image: url(bird.jpg);
}

.img-4 {
  grid-area: img-4;
  background-image: url(bird.jpg);
}

.img-5 {
  grid-area: img-5;
  background-image: url(bird.jpg);
}

.img-6 {
  grid-area: img-6;
  background-image: url(bird.jpg);
}

.img-7 {
  grid-area: img-7;
  background-image: url(bird.jpg);
}

.img-8 {
  grid-area: img-8;
  background-image: url(bird.jpg);
}

.vertical-text {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 40px;
  text-align: center;
  padding-left: 7rem;
  padding-top: 3rem;
}

.vertical-text h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.grid-alignment {
  display: flex;
  width: 95%;
  padding-top: 5rem;
}

.dropdown {
  width: 30rem;
  position: relative;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  padding: 1.5rem;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  cursor: pointer;
}

.dropdown-list {
  border-radius: 4px;
  background-color: white;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}

.dropdown-list-item {
  padding: 1rem;
  font-size: 1.4rem;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.hero {
  animation: transitionIn 1s;
}

.hero img {
  animation: movingTriangle 2s;
}

@keyframes movingTriangle {
  from {
    left: -1000px;
  }
  to {
    left: 0px;
  }
}

footer {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  padding-bottom: 1rem;
}

/*photography*/

.hero-photography {
  animation: transitionIn 1.5s;
}

.image-gallery-photography {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "img-1 img-2 img-3 img-3"
    "img-1 img-2 img-5 img-6";
}

.image-gallery-photography a {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery-photography .img-1 {
  grid-area: img-1;
  background-image: url(DSC_0091-2.jpg);
  min-height: 31rem; /* colocar isto para imagens na vertical */
}

.image-gallery-photography .img-2 {
  grid-area: img-2;
  background-image: url(DSC_0093-3.jpg);
  min-height: 31rem;
}

.image-gallery-photography .img-3 {
  grid-area: img-3;
  background-image: url(DSC_0124-14.jpg);
}

.image-gallery-photography .img-4 {
  grid-area: img-4;
  background-image: url(bird.jpg);
}

.image-gallery-photography .img-5 {
  grid-area: img-5;
  background-image: url(DSC_0140-1.jpg);
}

.image-gallery-photography .img-6 {
  grid-area: img-6;
  background-image: url(DSC_0151-2.jpg);
}

.image-gallery-photography .img-7 {
  grid-area: img-7;
  background-image: url(bird.jpg);
}

.image-gallery-photography .img-8 {
  grid-area: img-8;
  background-image: url(bird.jpg);
}

.social {
  display: flex;
  justify-content: center;
}

.social .button {
  display: inline-block;
  height: 60px;
  max-width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}
.social .button:hover {
  max-width: 300px;
}

.social .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.6s ease-out;
}
.social .button:nth-child(1):hover .icon {
  /*email*/
  background: #ff0000;
}
.social .button:nth-child(2):hover .icon {
  /*discord*/
  background: #7289da;
}
.social .button:nth-child(3):hover .icon {
  /*instagram*/
  background: #e1306c;
}
.social .button:nth-child(4):hover .icon {
  /*github*/
  background: #333;
}
.social .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.social .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social .button:hover .icon i {
  color: #fff;
}

.social .button a {
  text-decoration: none;
  color: black;
}

.social .button span {
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  margin-right: 20px;
  transition: all 0.3s ease-out;
}
.social .button:nth-child(1) span {
  /*email*/
  color: #c43145;
}
.social .button:nth-child(2) span {
  /*discord*/
  color: #7289da;
}
.social .button:nth-child(3) span {
  /*instagram*/
  color: black;
}
.social .button:nth-child(4) span {
  /*github*/
  color: #333;
}
.wrapper .button:nth-child(5) span {
  /*discord*/
  color: #ff0000;
}
